<div class="body-bg">
   <div class="container-fluid-full">
      <div class="row-fluid">
         <div class="content-box chnge-pwd">
            <h2 class="main-title"><span>Change Password</span></h2>
            <form class="prof form-login" name="changePassForm">
               <fieldset ng-disabled="isDisabled">
                  <!-- Select Admin -->
                  <div class="input" title="Select Admin Name">
                     <div class="sec-block">
                        <select ng-model="setNewPswd.id" required>
                           <option value="">Select Admin</option>
                           <option ng-repeat="setNewPswd in admin" value="{{setNewPswd.id}}">{{setNewPswd.adminName}}</option>
                        </select>
                     </div>
                     <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <!-- Password -->
                  <div class="input" ng-class="{ 'has-error' : changePassForm.newPassword.$invalid && !changePassForm.newPassword.$pristine }">
                     <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Password" ng-model="setNewPswd.newPassword" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,16}$/" required>
                     <p ng-show="changePassForm.newPassword.$touched && changePassForm.newPassword.$error.required" class="help-block">Password is required</p>
                     <p class="help-block" ng-show="changePassForm.newPassword.$error.pattern">Length should be 8 to 15 (including upper, lower & special)</p>
                     <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <!--CONFIRM PASSWORD -->                    
                  <div class="input" ng-class="{ 'has-error' : changePassForm.conformPassword.$invalid && !changePassForm.conformPassword.$pristine }">
                     <input type="password" name="conformPassword" ng-pattern="{{setNewPswd.newPassword}}" id="conformPassword" ng-model="setNewPswd.conformPassword" class="form-control" placeholder="Confirm Password" required>
                     <p ng-show="changePassForm.conformPassword.$touched && changePassForm.conformPassword.$error.required" class="help-block">Confirm Password is required</p>
                     <p class="help-block" ng-show="changePassForm.conformPassword.$error.pattern">Password not matched</p>
                     <i class="fa fa-star" aria-hidden="true"></i>                        
                  </div>
                  <div class="button-login">
                     <button id="submit" type="submit" class="btn btn-primary" ng-disabled="changePassForm.$invalid" ng-click="changePswd(setNewPswd)">Submit</button>
                  </div>
                  <div class="alert alert-warning" ng-if="errmsg"> 
                     <span class="close" data-dismiss="alert" aria-label="close" ng-click="alerthide()">&times;</span>{{errmessage}}
                  </div>
               </fieldset>
            </form>
         </div>
      </div>
      <!-- Success Message Popup -->
      <div class="modal fade successPopup" tabindex="-1" role="dialog">
         <div class="modal-dialog  modal-sm" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Success</h4>
               </div>
               <div class="modal-body">
                  <p><i class="fa fa-check fa-3x"></i><span>{{success}}</span></p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
      <!-- Error Message Popup -->
      <div class="modal fade failurePopup" tabindex="-1" role="dialog">
         <div class="modal-dialog  modal-sm" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Error</h4>
               </div>
               <div class="modal-body">
                  <p><i class="fa fa-warning fa-3x"></i><span>{{failure}}</span></p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="clearfix"></div>